:root {
--pale-blue: hsl(225, 100%, 94%);
--very-pale-blue: hsl(225, 100%, 98%);
--bright-blue: hsl(245, 75%, 52%);
--dimmed-bright-blue: hsla(245, 75%, 52%, 0.7);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
    background-color: var(--pale-blue);
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 85%;
    max-height: 36rem;
    width: 90%;
    max-width: 21rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 1.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 1rem 1rem 0 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    gap: 1.5rem;
}

.heading {
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.info {
    font-weight: 400;
    color: var(--desaturated-blue);
    text-align: center;
}

.plan-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    border-radius: 1rem;
    padding: 1rem 1rem;
    background-color: var(--very-pale-blue);
}

.plan-container::before {
    content: url('./images/icon-music.svg');
    margin: 0.3rem 0.8rem 0 0;
}

.plan-type {
    font-weight: 700;
    color: var(--dark-blue);
}

.plan-info {
    margin-right: 2.5rem;
}

.plan-price {
    font-weight: 400;
    color: var(--desaturated-blue);
}

.change-plan {
    color: var(--dark-blue);
    justify-self: flex-end;
}

.change-plan:hover {
    color: var(--bright-blue);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button {
    width: 90%;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

.payment {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    box-shadow: 0 0.3rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
}

.payment:hover {
    background-color: var(--dimmed-bright-blue);
}

.cancel {
    background-color: transparent;
    color: var(--bright-blue);
}

.cancel:hover {
    color: var(--dark-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}